-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
    
      -# HW 2-1 Part B first hint
      -# Arguments to movies_path is accessible in params in MoviesController#index
      -# CSS styling from http://haml.info/docs/yardoc/file.REFERENCE.html#class-and-id-attributes
      %th{:class => @title_hilite}= link_to "Movie Title", movies_path(:sort => "title"), :id => "title_header"
      -#%th Movie Title
	  
      %th Rating
	  
      -# HW 2-1 Part B
      %th{:class => @date_hilite}= link_to "Release Date", movies_path(:sort => "release_date"), :id => "release_date_header"
      -# %th Release Date
      
      %th More Info
	  
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
